
/* .somethingsWrong {
    font-family: sans-serif;
    color: rgb(255,0,0);
    position: relative;
    top: 250px;
    left: 50%; 
    margin: auto;
}
.passwordStuff {
    position: relative;
}

.firstInp {
    position: relative;
    top: 210px;
    left: 50%;
}
.secondInp {
    position: absolute;
    top: 16.25em;
    left: 50%;
}
#forgotPassword {
    position: absolute;
    top: 150%;
    left: 50%;
}
#submitButton {
    position: relative;
    left: 50%;
    top: 25em;
    width: 80px;
} */
#form {
    outline: 1px solid red;
    width: 50%;
    height: 500px;
    margin: 200px auto ;
}
label {
    margin: 5% auto;
}