#welcome{
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: rgb(144, 66, 144);
    z-index: -1;
}

#container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column wrap;
}

#header {
    /* background-image: url("https://cdn.pixabay.com/photo/2015/11/23/10/56/banner-1058143_960_720.jpg"); */
    background-color: #474747;
    height: 10%;
    width: 100%;
}

.text {
    width: 40%;
}

#footer {
    background-color: #474747;
    color: #474747;
    height: 10%;
    width: 100%;
}

article {
    background-color: silver;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5%;
}

.input {
    margin-bottom: 5px;
}