
body {
 background-color: rgb(143, 94, 143);
}
 #catch-all {
 
 padding-top: 7%;
 padding-bottom: 5%;
    
    
 }
 /* #heading {
    
 } */
 #submitButton {
     text-align: center;
     background-color: white;
     display: inline;
     border-style: solid;
     border-color: rgb(143, 94, 143);
     border-radius: 20%;
     margin: 0 auto;
     transition-duration: 0.4s;
     cursor: pointer;
     
 }
 #submitButton:hover {
     background-color: rgb(143, 94, 143);
     color: rgb(229, 226, 226);
     border-color: rgb(140, 94, 143);
     border-radius: 2px;
 }
 .somethingsWrong {
    font-family: sans-serif;
    color: rgb(255,0,0);
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
/* .secondInp {
margin: 5% auto;
} */
.passwordStuff {
    width: 25% ;
    margin: 0 auto;
}
/* #password {
    
} */
#register {
    margin-top: 5% auto;
    

    
}
/* #confirm */

#forgotPassword {
    color: rgb(42, 42, 197);
    font-size: 75%;
    margin-left: 7%;
    transition: 0.2s;
}
#forgotPassword:hover {
cursor: pointer;
}
#heading {
    padding-top: 5%;
    padding-bottom: 1%;
}
#overheadLogoMaybe {
    width: 100%;
    
}
 /* #username {
}  */
/* #otherSide {

} */
/* #navBar {
     

} */
#form {
    width: 50%;
    margin: 200px auto ;
    padding-bottom: 10%;
    padding-top: 10%;
    background-color: rgb(220, 231, 57);

    
/* most of the styling is from this one label */
}
label {
    margin: 2% auto;
    display: block ;
    width: 50%;
    
    
}
.loginButton {
    display: block;
    margin: auto auto auto 37%;
    
}

#overheadLogoMaybe {
    width: 100% auto;
    margin: auto;
}
/* #navBar {

} */

#test {
    font-family: sans-serif;
}
li{
    color: red;
}
.liCorrect{
    color: green;
}
