

 #encapsulate {
 background-color: rgb(143, 94, 143);
 padding-top: 7%;
 padding-bottom: 5%;
    
    
 }
 #submitButton {
     text-align: center;
     background-color: snow;
     display: inline;
     border-style: solid;
     border-color: rgb(143, 94, 143);
     border-radius: 20%;
    
 }
 #submitButton:hover {
     background-color: rgb(143, 94, 143);
     color: black;
     border-color: rgb(140, 94, 143);
     border-radius: 2px;
 }
 .somethingsWrong {
    font-family: sans-serif;
    color: rgb(255,0,0);
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
/* .secondInp {
margin: 5% auto;
} */
.passwordStuff {
    width: 25% ;
    margin: 0 auto;
}
/* #password {
    
} */
#forgotPassword {
    color: rgb(56, 56, 230);
    font-size: 75%;
    margin-left: 7%;
    transition: 0.3s;
    opacity: 0.5;
}
#forgotPassword:hover {
opacity: 1;
}
/* #forgotPassword:hover{

} */
#heading {
    padding-top: 5%;
    padding-bottom: 1%;
}
#overheadLogoMaybe {
    width: 100%;
    
}
 /* #username {
}  */
/* #otherSide {

} */
/* #navBar {
     

} */
#form {
    width: 50%;
    margin: 200px auto ;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgb(220, 231, 57);

    
/* most of the styling is from this one label */
}
label {
    margin: 2% auto;
    display: block ;
    width: 50%;
    
    
}

#overheadLogoMaybe {
    width: 100% auto;
    margin: auto;
}
/* #navBar {

} */

#test {
    font-family: sans-serif;
}
li{
    color: red;
}
.liCorrect{
    color: green;
}
