#test {
    font-family: sans-serif;
}
li{
    color: #FF3333;
}
.liCorrect{
    color: rgb(3, 204, 3);
}

.feild{
    margin-right: 1em;
    color: black;
}

.label {
    margin: 2% auto;
    display: block ;
    width: 100%;



}