#usernameBlank {
    display: none;
    color: rgb(255, 31, 31);
}

#invalidUsername {
    display: none;
    color: rgb(248, 27, 27);
}

#usernameTaken {
    display: none;
    color: rgb(248, 27, 27);
}

#goodUsername {
    display: none;
    color: rgb(3, 204, 3);
}