#nameInputError {
    display: none;
}

#emailInputError {
    display: none;
}

#welcome {
    display: none;
}
h1{
    margin-left: 10%;
}

p{
    margin-left: 10%;
}

#submitButton{
    margin-left: 20%;
}